- title 'Login'

%fieldset
  = simple_form_for @user, :url => sessions_url do |form|
    = form.input :login_name
    = form.input :password
    = form.submit 'Login', :name => 'result'
    .clear
.clear
