- title 'Login'

%fieldset
  - make_form_for @user, :url => sessions_url do |form|
    = form.text_field :name, :required => true
    = form.password_field :password, :required => true
    = form.result_buttons "Login"
