.dj-replace.dj-anchor
  - if comment and may_view(comment)
    - base_url = nested_url_for([comment.commentable, comment])
    .comment= format_text(comment.text)
    .clear
    - if may_edit(comment)
      %p.note
        %span.action-links
          %a.dj-link{ :href => "#{base_url}/edit" } Edit
          %a.dj-delete{ :href => base_url } Delete
    = timestamps(comment)
