.dj-form
  = simple_form_for [@commentable, @comment] do |form|
    = form.input :text, :label => false, :input_html => { rows: 10, cols: 80 }
    %br
    = form.submit 'Save', :name => 'result'
    = form.submit 'Cancel', :name => 'result'

.note
  (See
  %a{ :href => "http://redcloth.org/" } http://redcloth.org/
  for markup options.)
.clear
