- stylesheet :forms

.dj-form
  = formular_for [@commentable, @comment] do |form|
    - if create
      = form.hidden_field :author_id
    = form.text_area :text, :cols => 80, :rows => 10, :label => ''
    %br
    = form.result_buttons

  .note
    (See
    %a{ :href => "http://redcloth.org/" } http://redcloth.org/
    for markup options.)
.clear
