- url = "#{nested_url_for(on_object)}/comments/new"

.dj-context
  %h2
    = if on_object.comments.empty? then "No Comments." else "Comments:" end
    %span.action-links
      %a.dj-link{ :href => url } Add one

  .dj-anchor#comments
    = render(:partial => "comments/comment", :collection => on_object.comments)
.clear
