- url = new_comment_url(:on_class => on_object.class.to_s, :on_id => on_object.id)

.dj-context
  %h2
    = if on_object.comments.empty? then "No Comments." else "Comments:" end
    %span.action-links
      %a.dj-link{ :href => url } Add one

  .dj-anchor#comments
    = render(:partial => "comments/comment", :collection => on_object.comments)
.clear
