- @title  = "Adding a comment"
- @mode   = "Create"
- @url = comments_url(:type => @commentable.class.to_s, :id => @commentable.id)
- @method = :post

.dj-prepend.dj-children#comments
  .comment.dj-anchor
    = render :partial => 'comments/form'
