@import definitions


.data-set
  :width 100%
  a
    :width 100%
  a:link
    :display block
    :border none
    :padding 0
    :margin 0
    :line-height inherit
    img
      :border none
      :padding 0
      :margin 0
  a:visited
    :display block
    :border none
    :padding 0
    :margin 0
    :line-height inherit
    img
      :border none
      :padding 0
      :margin 0
  a:hover
    :display block
    :border none
    :padding 0
    :margin 0
    :line-height inherit
    img
      :border none
      :padding 0
      :margin 0
    .data-set-header
      :color = !tint2_text
      :background-color = !tint1_background_light
    .data-set-header.hidden
      :color black
      :background-color = !tint2_background_light

  a:active
    :display block
    :border none
    :padding 0
    :margin 0
    :line-height inherit
    img
      :border none
      :padding 0
      :margin 0

.data-set-header
  :display block
  :width 50%
  :border 1px solid
  :font-size 90%
  :padding 5px 12px
  :margin -1px 0 0 0
  :background-color = !tint1_background_dark
  :border-color #aaa
  dfn
    :margin-right 0.7em
    :font-style normal
    :font-weight bolder

.hideable .data-set-header
  :border-left
    :color #444
    :width 1px

.highlighted .data-set-header
  :background-color = !tint1_background_light

.highlighted .data-set-header.hidden
  :background-color = !tint2_background_light

.data-set-header.error
  :color = red
  .data-set-popup
    :color = red

.data-set-header.hidden
  :color = gray
  :background-color = !tint2_background_dark
  .data-set-popup
    :color = gray

.data-set-header .data-set-popup
  :z-index 10
  :position absolute
  :display none
  :font-weight normal
  :font-size 75%
  :border-style solid
  :border-width 1px 3px 3px 1px
  :-moz-border-radius 10px
  :padding 0.5em 1em
  :margin 2em 40% 0 20%
  :color = !tint2_text
  :background-color = !tint4_background_light
  :border-color #888 #aaa #aaa #888
  dfn
    :float left
    :font-weight bolder
    :font-style normal
    :width 6em
    :margin 0 auto 0 0

.data-set-header.hidden .data-set-popup
  :background-color white

.data-set-header:hover .data-set-popup
  :display inline

