@import "definitions";

a:link {
  outline: none;
  text-decoration: none;
  border-style: solid;
  padding: 3px 4px 2px 4px;
  border-width: 0 0 1px 0;
  line-height: 160%;
  color: $tint1_text;
  img {
    border-style: solid;
    padding: 4px;
    border-width: 0; } }

a:visited {
  outline: none;
  text-decoration: none;
  border-style: solid;
  padding: 3px 4px 2px 4px;
  border-width: 0 0 1px 0;
  line-height: 160%;
  color: $tint1_text;
  img {
    border-style: solid;
    padding: 4px;
    border-width: 0; } }

a:hover {
  outline: none;
  border-style: solid;
  padding: 1px 2px;
  border-width: 2px;
  border-color: $tint1_text;
  img {
    border-style: solid;
    padding: 2px;
    border-width: 2px;
    border-color: $tint1_text; } }

a:active {
  outline: none;
  border-color: $tint1_text;
  img {
    border-color: $tint1_text; } }
