@import "definitions";

.properties {
  >ul {
    border: 1px solid;
    width: 60%;
    list-style: none;
    margin: 0;
    padding: 0.6em 2em;
    line-height: 140%;
    background-color: $tint1_background_light;
    border-color: #cccccc;
    li {
      margin: 0.2em 0;
      padding: 0;
      clear: left;
      a:link, a:visited, a:hover, a:active {
        margin-left: -4px;
        line-height: 160%;
        color: $tint2_text;
        border-color: $tint2_text; }
      ul {
        list-style: disc;
        margin-left: $list_indent; } }
    dfn {
      display: block;
      float: left;
      width: 10em;
      font-weight: bolder;
      font-style: italic;
      color: $tint2_text; } } }
