- title 'New Import'
- stylesheet :forms

#import-link.dj-replace.dj-anchor

%fieldset#import.dj-replace.dj-form.dj-anchor
  = formular_for @import, :html => {:multipart => true} do |form|
    %input{ :type => 'hidden', :name => 'project_id', :value => @project.id }
    %p= form.file_field :data, :label => 'JSON Data'
    = form.text_area :description, :rows => 5, :cols => 80
    %p= form.result_buttons
