- target = (nesting_for(@illustratable) + [@image])

%fieldset.dj-form
  = formular_for target, :html => {:multipart => true}  do |form|
    %p= form.file_field :uploaded_data, :label => 'Image file'
    = form.text_area :caption, :cols => 80, :rows => 5
    %br
    = form.result_buttons

.note
  (See
  %a{ :href => "http://redcloth.org/" } http://redcloth.org/
  for markup options.)
.clear
