.dj-replace.dj-anchor
  .thumbnail
    - if image and may_view(image)
      - thumbnail = image.thumbnail(120,120) || image
      - image_url = nested_url_for([image.illustratable, image])
      - thumb_url = nested_url_for([image.illustratable, thumbnail])
      .picture-link
        %a{ :href  => image_url, :title => image.nice_caption }
          %img{ :src => thumb_url, :alt => "", :height => 120, :width => 120 }
      .caption
        = image.nice_caption
        - if may_edit(image)
          %span.action-links
            %a.dj-delete{ :href => image_url } x
      .clear
