.thumbnail.dj-replace.dj-anchor
  - if image and may_view(image)
    - base_url = nested_url_for(image)
    .picture-link
      %a{ :href  => base_url, :title => image.nice_caption }
        %img{ :src => base_url, :alt => "", :height => 120, :width => 120 }
    .caption
      = image.nice_caption
      - if may_edit(image)
        %span.action-links
          %a.dj-delete{ :href => base_url } x
    .clear
